
/* General */

#name {
  font-size: 100px;
  font-family: monospace;
  text-align: center;
  padding-top: 20px;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

#subname {
  text-align: center;
  padding-top: 10px;
}

.hide {
  display: none;
}


/* Pages */

.page_1_hidden {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translate(-100%);
}

.page_2_hidden {
  transform: translate(100%);
}

.page_2_visible {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translate(0%);
}

.page_2_up {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(-110%);
}

.page_murderweapons_visible {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(-110%);
}

.page_murderweapons_hidden {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(110%);
}

.page_motives_visible {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(-110%);
}

.page_motives_hidden {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(110%);
}

.page_suspects_visible {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(-900px);
}

.page_suspects_hidden {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(900px);
}

.page_victims_visible {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(-900px);
}

.page_victims_hidden {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateY(900px);
}

/* Login */

#login {
  padding-top: 100px;
}

#username_field {
  font-size: 30px;
}

#password_field {
  font-size: 50px;
}

.unselected_login {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.selected_login {
  transform: translateY(-18%);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.hide_input {
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

/* Keyboard */

.unselected_keyboard {
  transform: translateY(60%);
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.selected_keyboard {
  transform: translateY(-45%);
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.key {
  width:100%;
  background-color: #455a64;
  height: 200%;
  padding-top: 20%;
  padding-bottom: 20%;
  font-size: 30px;
}

.s_key {
  width: 9%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.enter {
  width:160%;
}

.odd {
  margin-left: 60%;
}

.key:hover {
  background-color: #455a64;
}

.space {
  width:100%;
  background-color: #455a64;
  padding-bottom: 12%;
  margin-left: 31%;
}

.space:hover {
  background-color: #455a64;
}

/* Login Popup */

.login-popup {
  position: absolute;
  width: 100%;
  margin-top: 21%;
  z-index: 10;
  font-family: monospace;
  font-size: 80px;
}

/* Prompt */

.prompt {
  position: absolute;
  width: 100%;
  z-index: 10;
  font-family: monospace;
  font-size: 40px;
}

.alert {
  position: absolute;
  width: 100%;
  z-index: 10;
  font-family: monospace;
  font-size: 40px;
  margin-top: 20%;
}

/* Page 2 */

.option, .option2 {
  background-color: #455a64;
  width:80%;
  padding-bottom: 5%;
  margin-left: 10%;
  height:100px;
}

.option {
  padding-top: 8%;
  font-size: 24px;
}

.option2 {
  padding-top: 15%;
  font-size: 30px;
}

.option:hover, .option2:hover {
  background-color: #455a64;
}

.option_row {
  margin-top: 10%;
}

.button_active {
  background-color: #26a69a;
}

.disabled_btn {
  background-color: #a57084;
}

.enabled {
  background-color: #900C3F;
}

.case_tripple {
  margin-left: 6.5% !important;
}

.case_double {
  margin-left: 17% !important;
}

/* Weapons page */

.weapons_col {
  margin-right: 5%;
}

.weapon_option {
  font-size: 25px;
  padding: 0px;
  padding-top: 12%;
}

/* Motives page */

.motives_col {
  margin-right: 5%;
}

.motive_option {
  font-size: 25px;
  padding: 0px;
  padding-top: 12%;
}
