<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/custom.css" />
    <link type="text/css" rel="stylesheet" href="css/spinner.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body bgcolor="#cfd8dc">

    <div>
      <div id="page_1" v-bind:class="{page_1_hidden: !visible}" v-if="!hidden">

        <div class="row login-popup" id="login_popup" v-if="popup_visible">
          <div class="col s10 offset-s1">
            <div class="card">
              <div class="card-content" style="padding-left:20%">
                {{popup_message}}
              </div>
            </div>
          </div>
        </div>

        <div class="row" v-bind:class="{ selected_login: selected, unselected_login: !selected}" id="login">
          <div class="col s4 offset-s4">
            <div class="card">
              <div class="card-content">
                <span id="name" class="card-title">OSIRIS</span>
                <span id="subname" class="card-title">Case Management System</span>

                <div id="loader-wrapper">
                  <div id="loader"></div>
                </div>

                <div class="row" v-bind:class="{hide_input: hide_input}">
                  <div class="input-field col s8 offset-s2" v-on:click="click_username">
                    <i class="material-icons prefix">account_box</i>
                    <input id="username_field" type="text" v-model="username"></input>
                    <label for="username_field"></label>
                  </div>
                </div>
                <div class="row" v-bind:class="{hide_input: hide_input}">
                  <div class="input-field col s8 offset-s2" v-on:click="click_password">
                    <i class="material-icons prefix">lock</i>
                    <input id="password_field" type="password" v-model="password"></input>
                    <label for="password_field"></label>
                  </div>
                </div>
              </div>
              <div class="card-action" style="color:grey;">
                <center><i class="material-icons" style="position: relative;top: 6px">warning</i> Access for autorized personnel only. Abuse is punsishable by law.</center>
              </div>
            </div>
          </div>
        </div>

        <div id="keyboard" v-bind:class="{selected_keyboard: keyboard_visible, unselected_keyboard: !keyboard_visible}">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <div class="col s_key"><a class="btn key" v-on:click="press('1')">1</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('2')">2</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('3')">3</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('4')">4</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('5')">5</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('6')">6</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('7')">7</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('8')">8</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('9')">9</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('0')">0</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('-')">-</a></div>
                  </div>
                  <div class="row">
                    <div class="col s_key"><a class="btn key" v-on:click="press('q')">Q</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('w')">W</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('e')">E</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('r')">R</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('t')">T</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('y')">Y</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('u')">U</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('i')">I</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('o')">O</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('p')">P</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="backspace"><i class="material-icons" style="font-size:25px;">keyboard_backspace</i></a></div>
                  </div>
                  <div class="row">
                    <div class="col" style="width:4.5%;"></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('a')">A</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('s')">S</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('d')">D</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('f')">F</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('g')">G</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('h')">H</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('j')">J</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('k')">K</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('l')">L</a></div>
                    <div class="col s_key"><a class="btn key enter" v-on:click="enter">{{ enter_text }}</a></div>
                  </div>
                  <div class="row">
                    <div class="col s_key"></div>
                    <div class="col s_key"></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('z')">Z</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('x')">X</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('c')">C</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('v')">V</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('b')">B</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('n')">N</a></div>
                    <div class="col s_key"><a class="btn key" v-on:click="press('m')">M</a></div>
                  </div>
                  <div class="row">
                    <div class="col s_key"></div>
                    <div class="col s6"><a class="btn space"  v-on:click="press(' ')"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="page_2" v-bind:class="{page_2_hidden: !visible, page_2_visible: visible, page_2_up: up}">
        <div class="row prompt" id="prompt" v-if="prompt_visible">
          <div class="col s10 offset-s1">
            <div class="card">
              <div class="card-content">
                <span class="card-title"><center style="font-size:80px; padding:30px">Bevestig</center></span>
                <div class="card-action" style="padding-left: 10%; padding-right: 10%;">
                  Weet je zeker dat dit de goede oplossing is?
                  Na een fout antwoord kan er gedurende 1 minuut geen nieuw antwoord ingevuld worden.

                  <div class="row" style="margin-top:40%;">
                    <div class="col s3 offset-s2">
                      <a class="btn option enabled" v-on:click="confirm_yes()">Bevestig</a>
                    </div>
                    <div class="col s3 offset-s2">
                      <a class="btn option" v-on:click="confirm_no()">Ga Terug</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row alert" id="alert" v-if="alert_visible">
          <div class="col s10 offset-s1">
            <div class="card">
              <div class="card-content">
                <span class="card-title"><center style="font-size:80px; padding:30px">{{alert_title}}</center></span>
                <div class="card-action" style="padding-left: 10%; padding-right: 10%;">
                  <center>{{alert_message}}</center>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div>
            <center><h1>Dossier<h1></center>
          </div>
        </div>
        <div class="row">
          <div class="col s3 offset-s2">
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <span class="card-title"><center style="font-size:40px;">Moordwapen</center></span>
                  <div class="card-action" style="color:grey;">
                    <div class="row option_row">
                      <a class="btn option" v-on:click="click_weapon()" v-bind:class="{ button_active: current_case.selected_weapon != default_weapon }">{{current_case.selected_weapon}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <span class="card-title"><center style="font-size:40px;">Motief</center></span>
                  <div class="card-action" style="color:grey;">
                    <div class="row option_row">
                      <a class="btn option" v-on:click="click_motive()" v-bind:class="{ button_active: current_case.selected_motive != default_motive }">{{current_case.selected_motive}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s3 offset-s2">
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <span class="card-title"><center style="font-size:40px;">Slachtoffer</center></span>
                  <div class="card-action" style="color:grey;">
                    <div class="row option_row">
                      <a class="btn option" v-on:click="click_victim()" v-bind:class="{ button_active: current_case.selected_victim != default_victim }">{{current_case.selected_victim}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <span class="card-title"><center style="font-size:40px;">Verdachte</center></span>
                  <div class="card-action" style="color:grey;">
                    <div class="row option_row">
                      <a class="btn option" v-on:click="click_suspect()" v-bind:class="{ button_active: current_case.selected_suspect != default_suspect }">{{current_case.selected_suspect}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="row">
          <div class="col s3" style="margin-left: 37.3333333333%;">
            <a class="btn option" v-bind:class="{ enabled: check_if_selected(), disabled_btn: !check_if_selected() }" v-on:click="confirm()">Bevestig</a>
          </div>
        </div>
      </div>

      <div id="page_murderweapons" v-bind:class="{page_murderweapons_hidden: !visible, page_murderweapons_visible: visible, hide: hidden}">
        <div class="row">
          <div>
            <center><h1>Moordwapens<h1></center>
          </div>
        </div>
        <div class="row">
          <div class="col s1">
          </div>
          <div class="col s2 weapons_col" v-for="weapon_list in weapons">
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <div class="card-action" style="color:grey; border: 0px;">
                    <div class="row option_row" v-for="weapon in weapon_list">
                      <a class="btn option weapon_option" v-bind:class="{ button_active: page_2.current_case.selected_weapon == weapon }" v-on:click="click_weapon(weapon)">{{weapon}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="page_motives" v-bind:class="{page_motives_hidden: !visible, page_motives_visible: visible, hide: hidden}">
        <div class="row">
          <div>
            <center><h1>Motieven<h1></center>
          </div>
        </div>
        <div class="row">
          <div class="col s2" style="margin-left: 3.5%;">
          </div>
          <div class="col s2 motives_col" v-for="motives_list in motives">
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <div class="card-action" style="color:grey; border: 0px;">
                    <div class="row option_row" v-for="motive in motives_list">
                      <a class="btn option motive_option" v-bind:class="{ button_active: page_2.current_case.selected_motive == motive }" v-on:click="click_motive(motive)">{{motive}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="page_suspects" v-bind:class="{page_suspects_hidden: !visible, page_suspects_visible: visible, hide: hidden}">
        <div class="row">
          <div>
            <center><h1>Verdachten<h1></center>
          </div>
        </div>
        <div class="row">
          <div class="col s4" style="margin-right: -4.5%;" v-bind:class="{hide: page_2.case != 1}">
          </div>
          <div class="col s3 suspects_col offset-s1" v-for="suspects_list in page_2.current_case.suspects" v-bind:class="{case_double: page_2.case >= 2}">
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <div class="card-action" style="color:grey; border: 0px;">
                    <div class="row option_row" v-for="suspect in suspects_list">
                      <a class="btn option suspect_option" v-bind:class="{ button_active: page_2.current_case.selected_suspect == suspect }" v-on:click="click_suspect(suspect)">{{suspect}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="page_victims" v-bind:class="{page_victims_hidden: !visible, page_victims_visible: visible, hide: hidden}">
        <div class="row">
          <div>
            <center><h1>Slachtoffers<h1></center>
          </div>
        </div>
        <div class="row">
          <div class="col s4" style="margin-right: -4.5%;" v-bind:class="{hide: page_2.case != 1}">
          </div>
          <div class="col s3 victims_col offset-s1" v-for="victims_list in page_2.current_case.victims" v-bind:class="{case_tripple: page_2.case == 2, case_double: page_2.case == 3}">
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <div class="card-action" style="color:grey; border: 0px;">
                    <div class="row option_row" v-for="victim in victims_list">
                      <a class="btn option victim_option" v-bind:class="{ button_active: page_2.current_case.selected_victim == victim }" v-on:click="click_victim(victim)">{{victim}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/JavaScript" src="js/app.js"></script>
  </body>
</html>
