<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/custom.css" />
    <link type="text/css" rel="stylesheet" href="css/spinner.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body bgcolor="#cfd8dc">

    <div>
      <div id="page_murderweapons" >
        <div class="row">
          <div>
            <center><h1>Moordwapens<h1></center>
          </div>
        </div>
        <div class="row">
          <div class="col s1">
          </div>
          <div class="col s2 weapons_col" v-for="weapon_list in weapons">
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <div class="card-action" style="color:grey; border: 0px;">
                    <div class="row option_row" v-for="weapon in weapon_list">
                      <a class="btn option weapon_option">{{weapon}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/JavaScript" src="js/app.js"></script>
  </body>
</html>
